.header {
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-position: center;

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin: 0;

    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    color: #fff;

    @include on-tablet {
      font-size: 48px;
      line-height: 48px;
    }

    @include on-desktop {
      font-size: 56px;
      line-height: 56px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 64px;
    }
  }
}

.top-bar {
  padding-block: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 36px;
  }

  &__icon {
    display: flex;
    gap: 24px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 16px;
    max-width: 100%;
    transition: $effect-duration;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      height: 24px;
    }
  }
}
